/* 如果屏幕宽度超过了750px，进行设置不让页面超过750px */
@media screen and (min-width: 750px) {
  html {
    font-size: 75px!important;
  }
}
body {
  min-width: 320px;
  max-width: 750px;
  width: 10rem;
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, Helvetica;
  background: #f2f2f2;
}
img {
  width: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
